body{
  background-image: url('https://images.pexels.com/photos/904177/pexels-photo-904177.jpeg');
}

table {
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
  }
  
  .todo tr:hover {background-color: rgb(54, 240, 215);}